name: Build Docker Image

on:
  push:
    branches:
      - "**"    # startet bei jedem Branch
  pull_request:   # startet auch bei jedem PR

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t example-kube:latest .
